/* Web App css */
.box {
  margin: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.columns {
  margin: -5px 0 5px 0;
}

#parameterSelect {
  color: hsl(0, 71%, 8%);  
  text-align: left;
  font-size: 15pt;

}
.custom-control-input {
  height: 15px;
  position: relative;
}

#btnSubmit {
  color: hsl(0, 71%, 8%);
  font-size: 12pt;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  font-weight: 600;
  margin: 20px 0 20px 0;
}

#all {
  font-size: 10pt;
  margin-bottom: 5px;
}

#map {
  border: 1px solid rgba(14, 3, 3, 0.2);
  height: 400px;
  width: 100%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  margin-left: 5px;
  border-radius: 5px;
}

#infoDisplay {
  margin: 20px 0 0 5px;
  color: hsl(0, 71%, 8%);  
}

#header {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#header-text, #subtitle {
  color: hsl(0, 71%, 8%);
  text-align: center;
}

#header-text {
  font-weight: 700;
}

footer  {
  width: 100%;
  height: 40px;
  background-color: hsl(0, 71%, 8%);
  border-top: solid 5px hsl(48, 100%, 67%);
  border-bottom: none;
  position: relative;
  margin-top: -14px; 
}

footer p {
  margin: auto 0;
  color: rgba(255, 255, 255, 0.85);
  position: absolute;
  top: 10%;
  bottom: 25%;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}


/* Google API css */
#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  margin: 10px 10px 20px 0;
  width: 100%;
  border-radius: 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}

#pac-container {
  padding-bottom: 12px;
  padding-right: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-top: 10px;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: relative;
  height: 40px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#title {
  color: hsl(0, 71%, 8%);
  background-color: hsl(48, 100%, 67%);
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
  border-radius: 5px 5px 0 0;
}